client
xdg-shell-client-protocol.h
xdg-shell-protocol.c
pointer-constraints-protocol.c
pointer-constraints-unstable-v1-client-protocol.h
relative-pointer-protocol.c
relative-pointer-unstable-v1-client-protocol.h
